@media only screen and (min-width: 700px) {
  ion-button.correct-button {
    font-size: 1.8em;
  }

  ion-button.skip{
    font-size: 1.8em;
  }
}

@media (min-width: 639px) {
  .correctP {
    font-size: 3vh;
    padding: 0 5% 0 5%;
  }
}

.grid-lines {
  @media (min-width: 576px) {
    display: none;
  }
}

.line-grid {
  @media (max-width: 576px) {
    padding: 2vh 7.5vw;
    margin-top: -6%;
  }

  @media (min-width: 576px) {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

.ic-title {
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;

  @media only screen and (min-width: 700px){
    font-size: 7.5vh;
  }
}

.correctLines {
  display: flex;
  justify-content: center;
}

.skip {
  width: fit-content;
  font-size: 2.65vh;
  letter-spacing: 2px;
  --background: #{$gygb-red};
  --background-hover: #{$gygb-light-red};
  --background-activated: #{$gygb-light-red};
  text-transform: uppercase !important;
  align-items: center;
  font-weight: bold;
  transition-duration: 0.4s;
  margin-right:3%;
}

.q-response{
  font-size: 2.3vh;
  justify-content: center;
  align-self:center;
  text-align: center;
}

.wrong {
  color: $gygb-red;
}

.right {
  color: $gygb-green;
}

.correct-button {
  --background: #{$gygb-green};
  --background-hover: #A2ED47;
  width: fit-content;
  font-size: 2.65vh;
  letter-spacing: 2px;
  text-transform: uppercase !important;
  font-weight: bold;
  transition-duration: 0.4s;
}

.correct {
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
