@media only screen and (min-width: 700px) {
  ion-button.correct-button {
    font-size: 2.1em;
  }

  p {
    font-size: 1.5em;
  }
}

.grid-lines {
  @media (min-width: 576px) {
    display: none;
  }
}

.line-grid {
  @media (max-width: 576px) {
    padding: 2vh 7.5vw;
  }

  @media (min-width: 576px) {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

.correctLines {
  display: flex;
  justify-content: center;
}

.skip {
  width: fit-content;
  font-size: 1.15em;
  letter-spacing: 2px;
  --background: #{$gygb-red};
  --background-hover: #{$gygb-light-red};
  --background-activated: #{$gygb-light-red};
  text-transform: uppercase !important;
  align-items: center;
}

.q-response{
  font-size: 2.6vh;
}

.wrong {
  color: $gygb-red;
}

.right {
  color: $gygb-green;
}

.correct-button {
  --background: #{$gygb-green};
  --background-hover: #a2e94c;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase !important;
  font-weight: bold;
  transition-duration: 0.4s;
}

.correct {
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}


