.end-title {
  font-size: 7vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.end-img {
  object-fit: contain;
  height: 20vh;
}

.subtitle {
  top: 50% !important;
  width: 100%;
  font-size: 0.9em;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase !important;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

.end-sub {
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  top: 50% !important;
  width: fit-content;
  margin-bottom: 6vh;
  font-size: 2.4vh;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}

.end-button {
  --background: #228ad3;
  --background-hover: #95d0fa;
  --border-radius: 10px;
  --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;

  font-size: 2.65vh;
  letter-spacing: 2px;
  text-transform: uppercase !important;

  @media (max-height: 840px) and (max-width: 450px) {
    min-height: 8vh;
    min-width: 80%;
    margin-bottom: 4%;
  }
}

@media only screen and (min-width: 700px) {
  ion-button.end-button {
    font-size: 3.2vh;
  }
  .end-sub {
    font-size: 3vh;
    margin-bottom: 4vh;
  }

  .end-button {
    margin-top: 3vh;
  }
}
