.question-title-row {
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .title {
      font-size: 3vw;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0;
  }
}

@media only screen and (max-width: 460px){
  .title {
      font-size: 7vw;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0;
  }
}

.question-subtitle {
  text-align: left;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 0;
}

.answer-button .button-native {
  height: auto;
  min-height: 2.8em;
}

.answer-button {
  height: 100%;
  padding: 6px;
  @media (min-height:600px) and (max-width: 420px){
    margin-bottom: 6px;
    padding: 2px;
  }
}


.answer-container {
  margin: 0.5rem;
  padding: 0.5rem;
  overflow-wrap: normal;
  word-break: break-word;
  white-space: normal;
  text-align: center;
  display: flex;
  justify-content: center;
}

.score {
  float: right;
  --background: #ffe552;
  --backgroun-hover:#ffe552;
  --color: black;
  --disabled: true;
}

.question-title-row{
  width: 100%;
}

.question-title {
  width: -moz-fit-content;
  width: -webkit-fill-available;
  width: 100%;
  text-align: left;
}

.question-subtitle {
  text-align: left;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.7);
  padding: 16px 0;
}

.answer-text {
  vertical-align: middle;
  display:flex;
  justify-content: center;
  width: 100%;
  line-height: 1.25rem;
  font-style: normal;
}

ion-button.answer-button {
  // Applies a background to an [ion-button]
  // TODO: Don't use opacity.
  --background: rgba(0, 0, 0, 0.8);
  --background-hover: rgba(0, 0, 0, 0.6);
}

.answer-grid {
  margin: 0 -12px;
  flex-grow: 1;
}

.answer-item {
  flex-grow: 1;
}

.question-progress {
  height: 16px;
  border-radius: 40px;
  margin: 12px 0;
  --buffer-background: #e5e5e5;
}
