.title {
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ion-row {
  justify-content: center;
  align-items: center;
}

#root {
  margin: 0;
  padding: 0;
}

.grid-lines {
  @media (min-width: 576px) {
    display: none;
  }
}

.line-grid {
  @media (max-width: 576px) {
    padding: 2vh 7.5vw;
  }

  @media (min-width: 576px) {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

.start-button {
  --background: white;
  --background-activity: #{$gygb-green};
  --background-focused: #{$gygb-green};
  --background-hover: #{$gygb-green};

  --color: #{$gygb-green};
  --color-activated: white;
  --color-focused: white;
  --color-hover: white;

  --border-color: #{$gygb-green};
  --border-radius: 10px;
  --border-style: solid; 

  text-transform: uppercase !important;
  letter-spacing: 2px;
  font-size: 1.15em;
  font-weight: bold;
  // width: fit-content;
  // top: 50%;
  margin-top: 15%;
  flex-direction: column;
}

.home-lines {
  &-bottom {
    bottom: 0;
  }

  &-top {
    top: 0;
  }

  max-height: 50vh;
  object-fit: cover;
  width: 100%;
  position: absolute;
}

.logo {
  z-index: 100;
  top: 55%;
  align-self: center;
  object-fit: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.subtitle {
  top: 50% !important;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
}

.home-lines {
  &-bottom {
    bottom: 0;
  }

  &-top {
    top: 0;
  }

  max-height: 50vh;
  object-fit: cover;
  width: 100%;
  position: absolute;
}
