.home-lines {
  &-bottom {
    bottom: 0;
  }

  &-top {
    top: 0;
  }

  max-height: 50vh;
  object-fit: cover;
  width: 100%;
  position: absolute;
}


.title {
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#root {
  margin: 0;
  padding: 0;
}

.grid-lines {
  @media (min-width: 576px) {
    display: none;
  }

  max-height: 50vh;
}

.line-grid {
  @media (max-width: 576px) {
    padding: 2vh 7.5vw;
  }

  @media (min-width: 576px) {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

.start-button {
  --background: white;
  --background-activity: #{$gygb-green};
  --background-focused: #{$gygb-green};
  --background-hover: #{$gygb-green};

  --color: #{$gygb-green};
  --color-activated: white;
  --color-focused: white;
  --color-hover: white;

  --border-color: #{$gygb-green};
  --border-radius: 10px;
  --border-style: solid; 

  text-transform: uppercase !important;
  letter-spacing: 2px;
  font-size: 3;
  font-weight: bold;
  
  z-index: 100;
  bottom:0;
  align-self: center;
  margin-top: 10%;

  flex-direction: column;
  justify-content: space-evenly;


  @media(min-height:600px) and (max-width: 500px){
    margin-top: 20%;
    min-height: 8vh;
    min-width: 6vw;
    margin-bottom: -55%;
  }

  @media(max-height: 600px){
    margin-top: 15%;
  }
}

.logo{
  z-index: 100;
  top: 53%;
  align-self: center;
  object-fit: cover;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-height: 600px) and (max-width: 500px){
    min-width: 92vw;
  }
}

.subtitle {
  top: 50% !important;
  width: 100%;
  font-size: 3.1vh;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase !important;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

.quiz{
  font-weight: 540;
}

@media(min-width: 460px){
  .subtitle{
    font-size: 4vw;
  }
}