@media only screen and (min-width: 750px) {
    .title {
        font-size: 3vw;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }
}

@media only screen and (max-width: 460px){
    .title {
        font-size: 7vw;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }
}
 
.blue-button{
    --background: #228AD3;
    --background-hover: #95d0fa;
    --border-radius: 10px;
    --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase !important;
    letter-spacing: 2px;
}

.result-img{
    object-fit: contain;
    height: 50vh;
    margin-top: -8%;
}

.result-subtitle{
    top: 50% !important;
    width: 100%;
    font-size: 2.5vh;
    line-height: auto;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase !important;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

.result-button{
  --background: #228AD3;
  --border-radius: 10px;
  --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase !important;
  font-size: 2.35vh;
  letter-spacing: 0.04em;
}

.gradient{
    position: relative;
    object-fit:contain;
    z-index: -1;
}

.raffle-button {
    --background: #228ad3;
    --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase !important;
    font-size: 2.67vh;
    letter-spacing: 2px;
    width: fit-content;
  }