.tutorial-lines {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  right: 0;
  left: 0;
}

.tutorial-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.tutorial-row{
  min-height: fit-content;
  justify-content: space-evenly;
}

.t-col{
  margin: 0.5%;
}

.tutorial-button {
  --background: #{$gygb-green};
  --background-activity: #{$gygb-green};
  --background-focused: #{$gygb-green};
  --background-hover: white;

  --color: white;
  --color-activated:#{$gygb-green};
  --color-focused: #{$gygb-green};
  --color-hover: #{$gygb-green};

  --border-color: white;
  --border-radius: 10px;
  --border-style: solid;

  --padding-top: 8px;
  --padding-bottom: 8px;

  text-transform: uppercase !important;
  letter-spacing: 2px;
  line-height: 37px;
  font-size: 2.67vh;
  font-weight: 700;
  flex-direction: column;
  margin-bottom: 5%;
}

.tutorial-title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4vh;
  line-height: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.7);

  @media (max-height: 440px){
    font-size: 2.4vw;
  }
}

.tutorial-info, div.tutorial-info em {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.04em;
    line-height: 27px;
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 300;

    @media (max-height: 440px){
      font-size: 2.3vw;
    }
}

.small {
  font-size: 2vh;
  line-height: 23px;
  letter-spacing: 0.035em;
  color: rgba(0, 0, 0, 0.7);
}

.tutorial-emphasis p {
  font-weight: bold;
  color: #15384f;
}

.prize {
  @media (min-width: 420px) {
    font-size: 6vh;
    color: #78AB41;
  }
}

.prize{
  font-size: 5vw;
  color: #78AB41;
  font-weight: bold;
  font-style: normal;
  font-size: 5.5vh;
  line-height: auto;
}

.action-call{
  color: rgba(21, 56, 79, 0.7);
  font-weight: 600;
  font-size: 2.4vh;
  letter-spacing: 0.04em;
  line-height: auto;
}

