@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
$mycolor: "#83CE27";

body {
  font-family: "serif", "sans-serif";
  background-color: "#83CE27";
}

svg{
 display: flex;
 position: relative;
}
.title {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#root{
  margin: 0px;
  padding: 0px;
}

ion-button.skip{
  margin-top: 10%;
  margin-left: 3%;
  width: 35%;
  height: 50px;
  font-size: 1.5em;
}

.star{
  position: absolute;
  right: 3%;
  left: 80%;
  top: 2%;
  bottom: 80%;
  display: flex;
}

.icon{
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:50;
  left:50;
}

.home-lines svg{
  top: 0;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.correct{
  top:25%;
  bottom: 25%;
}
.welcome-button{
  top: 78%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  border-radius: 30px;
  position: absolute;
}

.logo{
  top: 25%;
  bottom: 25%;
  right: 3%;
  left: 3%;
  position: absolute;
}
.welcome-path svg{
  bottom: sticky;
  width:100%;
}

.question-progress {
  height: 16px;
  border-radius: 40px;
  margin: 12px 0;

  --buffer-background: #e5e5e5;
}

.question-title {
  font-size: 2.1em;
  width: -moz-fit-content;
  width: -webkit-fill-available;
  width: fit-content;
}

.question-subtitle {
  text-align: left;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 0;
}

.subtitle {
  font-size: 25px;
}

.answer-container {
  width: 75%;
  overflow-wrap: normal;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  text-align: center;

  .answer-text {
    vertical-align: middle;
    line-height: 2rem;
    font-size: 1rem;
  }
}

ion-button.answer-button {
  // Applies a background to an [ion-button]
  // TODO: Don't use opacity.
  --background: rgba(0, 0, 0, 0.8);
  --background-hover: rgba(0, 0, 0, 0.6);
}

.answer-button {
  height: 100%;
}

.answer-grid {
  margin: -8px;
  padding: 0;
}

.answer-item {
  padding: 8px 8px;
}
