@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
$mycolor: "#83CE27";

body {
  font-family: "Montserrat", "sans-serif";
  background-color: "#83CE27";
}

.title {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ion-row{
  justify-content: center;
  align-items: center;
}

ion-img.correctLines{
  display: flex;
  justify-content: center;
}

ion-button.correct-button{
  --background: linear-gradient(180deg, #7CAB41 0%, #83CE27 95.31%);
}

.subtitle{
  bottom: 10%;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

#root{
  margin: 0px;
  padding: 0px;
}

ion-button.skip{
  margin-top: 10%;
  margin-left: 3%;
  width: 35%;
  height: 50px;
  font-size: 1.5em;
}

ion-img.star{
  position: relative;
  right: 3%;
  display: flex;
}

.icon{
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:50;
  left:50;
}

ion-img.home-lines{
  top: 0;
  width: 100%;
  position: absolute;
}

.logo{
  top: 25%;
  bottom: 25%;
  right: 3%;
  left: 3%;
  position: absolute;
  z-index: 100;
}

.welcome-button{
  top: 78%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  border-radius: 30px;
  position: absolute;
}

//TUTORAIL PAGE
.tutorial-lines{
  width:100%;
  position: absolute;
}

.question-progress {
  height: 16px;
  border-radius: 40px;
  margin: 12px 0;

  --buffer-background: #e5e5e5;
}

.question-title {
  font-size: 2.1em;
  width: -moz-fit-content;
  width: -webkit-fill-available;
  width: fit-content;
}

.question-subtitle {
  text-align: left;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px 0;
}

.answer-container {
  width: 75%;
  overflow-wrap: normal;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  text-align: center;
  display:flex;
  justify-content: center;

  .answer-text {
    vertical-align: middle;
    line-height: 1.25rem;
    font-size: 1rem;
  }
}

ion-button.answer-button {
  // Applies a background to an [ion-button]
  // TODO: Don't use opacity.
  --background: rgba(0, 0, 0, 0.8);
  --background-hover: rgba(0, 0, 0, 0.6);
}

.answer-grid {
  margin: -8px;
  flex-grow: 1;
}

.answer-item {
  padding: 1em;
  flex-grow: 1;
}
